body {
  font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
  background-color: #304956;
  color: #6E6E6E;
}

.container {
    display: -webkit-flex;
    display: flex;
    width: 100%;
    background-color: #427084;
}

.section {
    background-color: #DFE3E6;
    border-radius: 3px;
    width: 500px;
    margin: 10px;
}

.create-card-button {
    margin: 7px;
}

.advance-card-button {
    margin: 0px;
    margin-top: 10px;
}

#title {
    font-size: 45px;
    text-align: left;
    font-weight: bolder;
    color: #BDF4FF;
}

.column-header {
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 2px solid #427084;
    padding-top: 10px;
    margin-bottom: 10px;
}

span.alert {
    margin-left: 5px;
    color: red;
}

ul li {
   list-style: none;
   margin-left: -35px;
}

li {
    font-size: 12px;
    color: #6E6E6E;
    background-color: whitesmoke;
    margin: 5px;
    padding: 10px;
    border-radius: 1px;
    border-bottom: 1px solid #6E6E6E;
}

input {
    margin-left: 5px;
    margin-right: 5px;
}

button {
    margin: 7px;
    border-bottom: 1px solid #6E6E6E;
}

